<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Playground</title>
</head>
<style>
    h1{
        text-align: center;
        font-size: 2.5rem;
    }
    .color1{
        background-color: {{color}};
    }
    .color2{
        background-color: {{color2}};
    }
    table{
        margin: 0 auto;
    }
    td{
        width: 80px;
        height: 80px;
    }
    tr{
        display: flex;
    }
    
</style>
<body>
    <h1>**CheckerBoard!**</h1>
    <table>
    {% for cols in range(col) %}
        <tr>
            {% for row in range(rows) %}
                <td class="color{{ (cols+row)%2+1 }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>